:root{
  /* ===== Colors ===== */
  --body-color: #202020;
  --sidebar-color: #262831;
  --primary-color: #EC6E46;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #707070;
  --blue-color: #0FBBE9;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home{
  position: absolute;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  padding: 12px 60px 12px 110px;

}