.event-gestion{
  color: white;

  .event-list{
    height: 150px;
    width: 100%;
    display: flex;
    gap: 5px;
    overflow-x: scroll;
    overflow-y: hidden;

    div{
      height: 100px;
      width: 400px;
      border: 1px solid red;
    }
  }
}

.show-event{
  margin-top: 3%;
}