
.profile-header {
  display: flex;
  justify-content: space-between;


  .logo{

    display: flex;
    justify-content: start;
    align-items: center;
    .img_logo{

    }
    h2{
      color: white;
    }
  }

  .edit_btn{
    align-self: center;
  }
}

.users_stats{
  margin: 3% 0;
  color: white;
  p{

    font-size: 20px;
  }
}

.description{
  color: white;
  font-size: 20px;

  p{
    margin-top: 1%;
  }
}
