@use '../global' as *;

div.authentification{
  margin-right: 20em;
  img{
    max-width: 20em;
  }

  .authCenter{
    display: flex;
    justify-content: center;
  }
  h1{
    text-align: center;
  }

  button{
    width: 100%;
  }
}