@use 'functions' as *;

@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Rubik&display=swap');

$fonts: (
    title: (
        h1: (size: rem(2), weight: 700, lineHeight: rem(38)),
        h2: (size: rem(28), weight: 700, lineHeight: rem(32)),
        h3: (size: rem(20), weight: 700, lineHeight: rem(24)),
        h4: (size: rem(18), weight: 700, lineHeight: rem(23)),
    ),
    text: (
        pBold: (size: rem(16), weight: 700, lineHeight: rem(22)),
        pSemiBold: (size: rem(16), weight: 600, lineHeight: rem(22)),
        pMedium: (size: rem(16), weight: 500, lineHeight: rem(22)),
        pRegular: (size: rem(16), weight: 400, lineHeight: rem(22)),
    )
);

@function fontproperty($font, $value: 0, $property: size) {
    @return map-get(map-get($fonts, $font), $value, $property);
}
