

.globalButton{
  background: none;
  border: 2px solid var(--blue-color);
  border-radius: 8px;
  font-size: 15px;
  padding: 4% 10%;
  cursor: pointer;
  color: var(--blue-color) ;
}

.globalButton:hover{
  background:var(--blue-color) ;
  color: #202020;
}

.globalButton span{
  margin-left: 10px;
}